{deps, [
        {lhttpc, ".*", {git, "https://github.com/ferd/lhttpc.git"}},
        {envy, ".*", {git, "git://github.com/manderson26/envy.git", {branch, "master"}}},
        {jsx, "", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.0.4"}}}
        ]}.
{erl_opts, [warnings_as_errors, debug_info]}.
{clean_files, ["test/*.beam", "logs/", "ebin/", "doc/"]}.