{deps, [
        {lhttpc, ".*", {git, "https://github.com/ferd/lhttpc.git"}},
        {dlhttpc, ".*", {git, "https://github.com/ferd/dlhttpc.git"}},
        {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", {tag, "v4.1.1"}}},
        {envy, ".*", {git, "git://github.com/manderson26/envy.git", {branch, "master"}}},
        {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.0.4"}}}
        ]}.
{clean_files, ["test/*.beam","ebin/*.erl","ebin/*.src","logs/","ebin/","doc/"]}.
{eunit_opts, [verbose, {skip_deps, true}, warnings_as_errors, debug_info]}.  
{eunit_exclude_deps, true}.
{cover_enabled, true}.